@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: IRANSANS;
    src: url('../fonts/IRANSansLight.woff');
}
@layer component{
    *{
        font-family: IRANSANS;
    }
}
.mobileNav{
    height: 0;
    overflow: hidden;
    transition: 500ms;
}
.menuhover a:hover span{
    color: whitesmoke;
    transition: 500ms;
}
.checkBox:checked + .mobileNav{
    height: 360px !important;
}
.mahsul:hover{
    transition: 500ms;
    background-color: #ED1C24;
    color: white;


}
.group a:hover{
    color: whitesmoke;
}
.display-none {
    @apply hidden;
}
